@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body{
    margin: 0px;
    font-family: 'Mountains of Christmas', cursive;
}


#txt-input {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1.65rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.image{
    height: 80px;
    width: 80px;
    float: left;
    
}



#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1.65rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

#btn-translate{
    display: flex;  
    justify-content: center;  
    align-items: center;  
    margin: auto;

    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    border-radius: 12px;

    cursor: pointer;
    font-family: 'Mountains of Christmas', cursive;

    font-size: 18px;
    transition: 0.2s;

}

#btn-translate:hover{
    transform: scale(1.2);
}

.header{
    background-color: black;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    

}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem 0rem;
    font-size: 18px;

}